<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="DataProvider and listener" parallel="tests" thread-count="3">
    <!--    <parameter name="browser" value="firefox"></parameter>-->
    <listeners>
        <listener class-name="mentorship.core.logers.CustomLoger"/>
        <listener class-name="mentorship.core.reporters.CustomReporter"/>

    </listeners>

    <test name="Before/After hooks">
        <classes>
            <class name="mentorship.suitSetup.BaseTest"></class>
        </classes>
    </test>

    <test name="Firefox browser">
        <!-- <parameter name="browserName" value="FF"></parameter> -->
        <classes>
            <class name="mentorship.browserInstanceTests.firefoxBrowser"></class>
        </classes>
    </test>

    <test name="Chrome browser">
        <parameter name="browserName" value="CHROME"></parameter>
        <classes>
            <class name="mentorship.browserInstanceTests.chromeBrowser"></class>
        </classes>
    </test>


    <!--    <test name="Params">-->
    <!--        <parameter name="user" value="user@email.com" />-->
    <!--        <parameter name="age" value="17" />-->
    <!--&lt;!&ndash;        <parameter name="userName" value="userName.com" />&ndash;&gt;-->
    <!--&lt;!&ndash;      &ndash;&gt;-->
    <!--        <classes>-->
    <!--            <class name="mentorship.testingParameters.parameters">-->
    <!--            </class>-->
    <!--        </classes>-->
    <!--        -->
    <!--    </test>-->

    <!--    <test name="Check LoggingTests">-->
    <!--        <groups>-->
    <!--            <define name = "all">-->
    <!--                <include name = "first"/>-->
    <!--                <include name = "second"/>-->

    <!--            </define>-->

    <!--            <run>-->
    <!--                <include name="all"/>-->
    <!--            </run>-->
    <!--        </groups>-->
    <!--        <classes>-->
    <!--            <class name="mentorship.testNG_tests.CustomLoggingBaseTest">-->
    <!--                <methods>-->
    <!--                    <exclude name="methodFive"></exclude>-->
    <!--                </methods>-->
    <!--            </class>-->

    <!--        </classes>-->
    <!--    </test>-->

    <!--    <test name="Test2">-->
    <!--        <classes>-->
    <!--            <class name="mentorship.testNG_tests.TestWithDataProvider"/>-->
    <!--        </classes>-->
    <!--    </test>-->


</suite>
