<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="DataProvider and listener" parallel="methods" thread-count="1" >

    <listeners>
        <listener class-name="core.Loger.CustomLoger"/>
        <listener class-name="core.Reporters.CustomReporter"/>

    </listeners>


    <test name="Check LoggingTests">
        <groups>
            <define name = "all">
                <include name = "first"/>
                <include name = "second"/>

            </define>

            <run>
                <include name="all"/>
            </run>
        </groups>
        <classes>
            <class name="TestNGTests.CustomLoggingTest">
                <methods>
                    <exclude name="methodFive"></exclude>
                </methods>
            </class>

        </classes>
    </test>

    <test name="Test2">
        <classes>
            <class name="TestNGTests.TestWithDataProvider"/>
        </classes>
    </test>


</suite>
