<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="DataProvider and listener" parallel="methods" thread-count="1" >

    <listeners>
        <listener class-name="Loger.CustomLoger"/>
        <listener class-name="Reporters.CustomReporter"/>

    </listeners>


    <test name="Check LoggingTests">
        <groups>
            <define name = "all">
                <include name = "first"/>
                <include name = "second"/>

            </define>

            <run>
                <include name="all"/>
            </run>
        </groups>
        <classes>
            <class name="CustomLoggingTest">
                  <methods>
                      <exclude name="MethodFive"></exclude>
                  </methods>
            </class>
        </classes>
    </test>

    <test name="Test2">
        <classes>
            <class name="TestWithDataProvider"/>
        </classes>
    </test>


</suite>
